@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #E95A08;
    --secondary-color: rgba(0, 0, 0, 0.5);
}

* {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 71rem;
    margin: 0 auto;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    
} 
nav ul {
    display: flex;
    gap: 3rem;
}  
nav ul li a {
    color: #21486e;
    font-weight: 500;
    font-size: 1rem;
}
nav .home{
    color: #252432;
    font-weight: bold;
}
.shop, .about {
    color: #8987A1;
}
.cart{
    margin-right: 20px;
}
/* main section styleing  start */
main{
    width: 100%;
}
.main-container {
    max-width: 71rem;
    margin: 0 auto;

}
/* banner section */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 9rem;
    width: 100%;
}
.text-content h1 {
    font-size: 65px;
    font-weight: bold;
    margin: 10px 0;
    font-family: "Noto Serif", serif;
}
.primary {
    color: var(--primary-color);
}
.text-content p{
    color: var(--secondary-color);
    font-size: 22px;
}

/* plant section start */
.plants {
    max-width: 71rem;
    margin-top: 150px;
}
.plants h1 {
    margin: 20px 0;
    font-size: 50px;
    text-align: center;
    font-family: "Noto Serif", serif;

}
.plants p {
    font-size: 22px;
    text-align: center;
}
.plants .text-div {
    max-width: 888px;
    margin: 0 auto;
    color: var(--secondary-color);
}
.plants .plant-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    gap: 15px;

}
.plant-container h3 {
    font-size: 22px;
    margin: 10px 0;
    text-align: center;

}
.plant-container .title{
    font-weight: 600;
    color: #111111;
}
.plant-container button {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
}
.pant-item img {
    width: 100%;
}

/* plants lover section */
.plants-lover{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    margin-top: 150px;
    gap: 3rem;

}
.plants-lover img{
    width: 100%;
}
.plants-lover ul li{
    list-style-type: disc;
    color: var(--secondary-color);
    font-size: 22px;
    margin: 20px;
    margin-left: 40px;
}
.plants-lover h2{
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 50px;
}
.plants-lover .image-div{
    position: relative;
}
.plants-lover .badge {
    position: absolute;
    width: 50%;
    right: -15%;
    top: -20%;
}

/* latest deals section  */

.latest-deals {
    max-width: 71rem;
    margin-top: 150px;
}
.latest-deals .title-text h1 {
    text-align: center;
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
}
.latest-deals .title-text p{
    text-align: center;
    font-size:22px;
    margin: 20px;
}
.latest-deals .title-text .discrip {
    max-width: 888px;
    margin: 0 auto;
}
.latest-deals .img-div{
    margin-top: 150px;
}
.latest-deals .img-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr);
    height: 430px;
    gap: 20px;
    box-sizing: border-box;
}
.latest-deals .img-div > div{
    position: relative;
}
.latest-deals .img-div img{
    border-radius: 15px;
    filter: brightness(60%);
    width: 100%;
}
.latest-deals .img-div .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.latest-deals .img-div .third-child h3{
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 24rem;
}
.latest-deals .img-div .first-child h3, .latest-deals .img-div .second-child h3{
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 14rem;
}
.latest-deals .img-div p{
    font-weight: 600;
    color: white;
    text-align: center;
}
.latest-deals .third-child p{
    font-weight: 600;
    color: white;
    font-size: 28px;
}
.latest-deals .img-div .third-child{
    grid-column: 2;
    grid-row: 1 / span 2;
}


/* mail section  */

.email-sec{
    width: 100%;
    margin-top: 150px;
    position:relative;

}
.email-sec .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
.email-sec img{
    width: 100%;
}
.email-sec .input-container h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: "Noto Serif", serif;
}
.input-container .input{
    width: 100%;
    position: relative;
    margin-top: 20px;
}
.input-container .input input{
    width: calc(100% - 30px);
    border: none;
    height: 60px;
    padding: 0 15px;
}
.input-container .input button{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 20%;
    border: none;
    height: 60px;
    background-color: var(--primary-color);
    color: white;
}
.input-container .input input:focus{
    outline: none;
}


/* footer section style  */

footer{
    width: 100%;
    height: 21rem;
}
.footer{
    max-width: 71rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}
.footer .footer-hero {
    max-width: 22rem;;
}
.footer .footer-hero p{
    margin-top: 1rem;
    font-size: 22px;
    color:var(--secondary-color);
}
.link-item-one, .link-item-two {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.link-item-one a , .link-item-two a {
    color: var(--secondary-color);
}
.footer-website-link img{
    margin: 0 1rem;
}

/* responsive design */

@media only screen and (max-width: 576px) {
    header nav ul {
        display: none;
    }
    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-end;
    }
    .cart{
        margin-right: 20px;
    }
    .banner img {
        width: 100%;
    }
    .text-content h1{
        font-size: 24px;
    }
    .text-content p {
        font-size: 16px;
    }


    .plants .text-div {
        max-width: 21rem;
    }
    .plants h1 {
        font-size: 24px;
    }
    .plants p {
        font-size: 14px;
    }
    .plants .plant-container{
        grid-template-columns:repeat(2, 1fr) ;
    }
    .plant-container h3 {
        font-size: 16px;
    }


    .plants-lover{
        grid-template-columns: repeat(1, 1fr);
    }
    .plants-lover .badge {
        display: none;
    }
    .plants-lover .title {
        font-size: 24px;
    }
    .plants-lover ul li{
        font-size: 14px;
    }


    .latest-deals .img-div {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
    }
    .latest-deals .img-div .third-child{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    }
    .latest-deals .third-child p{
    font-size: 16px;
    }
    .latest-deals .img-div .third-child h3{
    font-size: 20px;
    text-align: center;
    }
    .email-sec .input-container h1{
        font-size: 20px;
    }
    .email-sec .input-container {
        width: 80%;
    }
    .input-container .input input , .input-container .input button{
        height: 40px;
    }
}


@media only screen and (min-width: 576px) and (max-width: 992px) {
    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-end;
    }
    .email-sec .input-container h1{
        font-size: 31px;
    }
        .email-sec .input-container {
        width: 70%;
    }
}
